/* -- Global rules -- */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 14.5px;
  min-height: 2px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

window#waybar.hidden {
  opacity: 0;
}

#custom-archicon,
#temperature,
#pulseaudio,
#custom-music,
#language,
#clock,
#memory,
#custom-power,
#custom-notification {
  color: #000000;
  border-radius: 10px;
  margin-bottom: 6px;
  margin-top: 5px;
  margin-right: 1px;
  margin-left: 1px;
  padding: 0 15px;
}

#custom-archicon {
  font-size: 20px;
  padding-left: 10px;
}

#custom-archicon {
  background-color: #cda34f;
}

#temperature {
  background-color: #a1554a;
}

#pulseaudio {
  background-color: #4f6d82;
}

#custom-music {
  background-color: #624D82;
}

#language {
  background-color: #824D6D;
}

#workspaces {
  background-color: #223342;
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  font-size: 20px;
  color: #738eb7;
  background: transparent;
  padding: 4px 6px;
  border-radius: 6px;
  transition:
    color 0.2s ease,
    background 0.2s ease;
}

#workspaces button.persistent {
  color: #ffe808;
}

#workspaces button.empty {
  color: #738eb7;
}

#workspaces button.active {
  color: #cda34f;
}

#clock {
  background-color: #4c8585;
}

#memory {
  background-color: #838A47;
}

#custom-notification {
  background-color: #8A6F47;
}

#custom-power {
  background-color: #b0413e;
}
